<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .color-red {
            color: red;
        }

        .color-blue {
            color: blue;
        }

        .is-loading {
            background-color: black;
        }

        .is-active {
            background-color: blue;
        }
    </style>
</head>
<body>

<script src="https://unpkg.com/vue@2.5.0/dist/vue.js"></script>
<div id="root">
    <input type="text" id="name" v-model="message">
    <p>The value of the input is : {{message}}</p>

    <hr>
    {{ country }}
    <br>
    {{ location }}
    <hr>
    <h1>for loop </h1>

    <ol>
        <li v-for="country in countries">{{country}}</li>
        <hr>
        <li v-for="country in countries" v-text="country"></li>
    </ol>


    <!--<input type="text" id="country">-->
    <input type="text" id="country" v-model="newCountry">
    <!--<button id="button">Add Country</button>-->
    <button id="button" @click="addCountry">Add Country</button>

    <hr>
    <h1>Attribute and class binding</h1>
    <button title="Hello you just hover me">hover me</button>
    <br>
    <button v-bind:title="title">Hover Me again</button>
    <br>
    <h1 class="color-red">Class Attribute Binding</h1>
    <br>
    <!-- short cut for v-bind -->
    <h1 :class="className">Class Attribute Binding</h1>
    <br>
    <button :class="{'is-active':true}"> Active Class</button>
    <button :class="{'is-active':false}"> Not Active Class</button>
    <br>
    <button :class="{'is-loading':isLoading}" @click="toggleClass"> Click Me</button>
    <hr>
    <h1>Computed Properties</h1>

    <h4>{{ message.split('').reverse().join('') }}</h4>

    <h4>{{ reversedMessage }}</h4>


    <h4>All Tasks</h4>
    <ul>
        <li v-for="task in tasks" v-text="task.title"></li>
    </ul>

    <h4>Completed task</h4>
    <ul>
        <li v-for="task in tasks" v-if="task.status" v-text="task.title"></li>
    </ul>
    <h4> InCompleted task</h4>
    <ul>
        <li v-for="task in incompleteTasks"  v-text="task.title"></li>
    </ul>
</div>

<script>
    let data = {

        message: "Hello Vue js"
    };
    var app1 = new Vue({
        el: "#root",
        data: {
            message: "Hello Vue js! it is awesome",
            country: "Nepal",
            location: "Bhaktapur",
            countries: ["Nepal", 'india', 'china', 'uk', 'us'],
            newCountry: '',
            title: 'You hovered me through vue js ',
            className: 'color-blue',
            isLoading: false,
            tasks: [
                {title: 'add color', status: true},
                {title: 'check message', status: false},
                {title: 'send email', status: true},
                {title: 'collect parcel', status: false},
                {title: 'arrange meeting', status: true},
            ]
        },
        methods: {
            addCountry(){
//              alert('adding country');
                this.countries.push(this.newCountry);
                this.newCountry = '';
            },
            toggleClass(){
                this.isLoading = true
            }
        },
        computed: {
            reversedMessage(){
                return this.message.split("").reverse().join('-');
            },
            incompleteTasks(){
                return this.tasks.filter(task => !task.status);
            }


        }


//        mounted(){
//            document.querySelector('#button').addEventListener('click', () => {
//                let country = document.querySelector('#country');
//                app1.countries.push(country.value);
//                country.value = '';
//            });
//        }
    });
    //
    //    document.querySelector('#button').addEventListener('click', () => {
    //        let country = document.querySelector('#country');
    //        app1.countries.push(country.value);
    //        country.value = '';
    //    });
</script>
</body>
</html>